
p::hover {
color:green;
font-weight: bold;
}
p::before {
content: ' Hello ';
color: green;
font-weight: bold;
}
p::after {
content: ' Bye!';
color: blue;
font-weight: bold;
}
p::selection {
background-color: purple;
color: white;
}
